{% load qr_code %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>QR Code Generator</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">QR CODE Generator</a>
                    </nav>
                </div>
                <div class="col-sm-12">
                    <form class="form-inline" method="POST" action="">{% csrf_token %}
                        <input style="padding: 20px; margin: 20px; width: 100%" class="form-control form-control-lg" name="user_input" id="user_input" type="text" placeholder="Enter text to convert">
                    </form>
                </div>
                <div class="col-sm-12" style="text-align: center">
                    {% if popup %}
                        <div class="col-sm-12">
                            <img src="{% qr_url_from_text user_input cache_enabled=True options=config %}" alt="{{ user_input }}">
                        </div>
                        <div class="col-sm-12">
                            <p>QR for : <b>{{ user_input }}</b></p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>
