{% load qr_code %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>QR Code Generator</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">QR Code Generator</a>
            </nav>

            <form class="form-inline" method="POST" action="">{% csrf_token %}
                <div class="form-row" style="padding:20px">
                    <div class="col">
                        <input class="form-control form-control-lg" name="user_input" type="text" placeholder="Enter text to convert">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-info btn-lg form-control">Convert</button>
                    </div>
                </div>
            </form>



            {% if popup %}
            <img src="{% qr_url_from_text user_input cache_enabled=True options=config %}" alt="{{ user_input }}">
            {% endif %}

        </div>






        <!-- <form method="POST" action="">{% csrf_token %}
            <input type="text" name="user_input" placeholder="Enter Text">
            <button type="submit" value="submit">Submit</button>
        </form>
        {% if popup %}
            <img src="{% qr_url_from_text user_input cache_enabled=True options=config %}" alt="{{ user_input }}">
        {% endif %} -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
